<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <header>
    <nav>
      <a href="">Accueil</a>
    </nav>
  </header>
<script src="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
</head>
